*{margin:0;padding:0;}
body {
  background: rgb(44, 126, 151); 
  font-family: 'Open Sans', sans-serif;    
  color: #fff;   
  overflow-x: hidden;    
}
header{
  position: absolute;
  z-index: 9999;
  width: 100%;    
  background: rgba(0,0,0,.5);   
  text-align: center;
  padding-top: 10px;
  margin-bottom: 220px;
}

h1, h2, h3{   
  padding: 35px;
   font: 1.3em sans-serif;
    font-weight: 700; 
    margin: .8em 0 .2em 0;
    
}    
h1{   
 margin: .2em .5em;
 display: inline-block;   
 text-align: center;    
}
header p{
 display: inline-block; 
 font-size: .9em;    
}
.content{
    margin: 1em 2em;    
}
.content ul, .content ol{
    margin: .8em 1em .8em 2em;   
}
span.code{
    font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;   
    color: #999;
}
.gist{
    margin: 1em 1em 2em 2em;
}
ol .gist{
    margin: 1em 0 2em 0;
}
a{ 
    color:#fff;
}
.num2{
    width: 85%;
    margin: 2em auto;
}
footer{
    position: absolute;
    z-index: 9999;
    width: 100%;    
    background: rgba(0,0,0,.5);   
    text-align: center;
    padding-top: 10px;
    margin-bottom: 220px;
}
footer span{
    font-size: 1.3em;
    color: rgb(44, 126, 151);
}
  a.navlink:link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  rgb(44, 126, 151);
    color: #ffffff;
    padding: 15px 15px;
    border: 4px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25em;
    float: left;
    margin: 10px;
  }
  a.navlink:visited {
    color: #ffffff;
  }
  a.navlink:hover {
    background-color:  rgb(44, 126, 151);
    border-radius: 20px;
  }
  .navlist {
    padding: 0%;
  }

  #navcontainer {
    margin: 0;
    width: 100%;
    padding: 0;
    position: sticky;
    top: 0;
    height: auto;
    z-index: 5;
  }
  
  #navbar {
    padding: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  rgb(255, 255, 255);
    color: grey;
    text-align: center;
    list-style-type: none;
  }

  .image {
    width: 10%;
  }

#contactForm {
  margin-bottom: 92px;
}
#fContain {
  width: 80vw;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5%;
  font-weight: bold;
}
#thanksPage {
  width: 80vw;
  text-align: center;
  margin: 0 auto;
  display: none;
  padding: 2%;
  font-size: 1em;
  line-height: 2em;
}
.inputBox > input {
  width: 60%;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: rgb(9, 97, 104);
}

textarea {
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  color: #000000;
  background-color: #ffffff;
}
#submitContain {
  width: 80vw;
  text-align: center;
  margin: 0 auto;
}

#newSubmitContain {
  padding-top: 2%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#submitbutton > input {
  border-color: #d3d3d3;
  background: linear-gradient(135deg, #050505 10%,#6b6a6a 50%,#034e53 51%,#1a6bb6 100%);
  color: #fcfcfc;
  font-size: 20px;
  padding: 10px;
}

#newSubmitContain > button {
  padding: 5px;
  border-radius: 25px;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
}

.labelfield {
  padding-top: 2%;
}

#thanksPage > h2 {
  font-size: 1.5em;
}
#thanksPage > h3 {
  font-size: 1.25em;
}
.inputBox {
  padding-top: 1%;
}

input[type='checkbox'] {
  transform: scale(2);
}
  
::placeholder {
  color: rgb(136, 136, 136);
  font-size: 1em;
}
@media screen and (max-width: 830px){
    h1{
     font-size: 1.3em;   
    }
    .desc{
        display: none;   
    }

    a.navlink:link {
      font-size: 1.0em;
      padding: 10px 10px;
    }
    .image {
      width: 20%;
    }
}

@media screen and (max-width: 400px){
    h1{
     font-size: 1.1em;   
    }
    header span{
        display: none;   
    }
    .gist{
        width: 100%;
    }
    a.navlink:link {
      font-size: 1.0em;
    }
    .image {
      width: 20%;
    }
}